%h1 Listing goals

%table
  %thead
    %tr
      %th Topic
      %th Date Started
      %th Date Due
      %th Date Completed
      %th
      
  %tbody
    - @goals.each do |goal|
      %tr
        %td= goal.topic
        %td= goal.date_start
        %td= goal.date_due
        %td= goal.date_completed
        %td
          = link_to 'Show', goal
          \|
          = link_to 'Edit', edit_goal_path(goal)
          \|
          = link_to 'Destroy', goal, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Goal', new_goal_path
